
main{
    display: flex;
    flex-flow: column;
    flex-wrap: wrap;
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.223);
    max-width: 600px;
    background-color: darkgray;
    margin: 0 auto;
    padding: 10px;
    margin-top: 15px;
}
h2{
    text-align: center;
    margin-bottom: 20px;
    color:  rgb(47, 79, 79);
}
.form{
 display: flex;
 justify-content: space-between;


}
.input{
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
}
.button-submit{
    border-radius: 5px;
    border:none;
    margin-left: 2px;
    padding: 5px;
    cursor: pointer;
}
.button-submit:hover{
    opacity: 75%;
}
.mensagem{
    text-align: center;
    margin-top: 10px;
}
.todo-lista{
    list-style: none;
    margin-top: 5px;
}
.todo-item{
    background-color:  rgba(47, 79, 79, 0.436);
    border-radius: 5px;
    padding: 4px;
    margin: 3px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: rgba(34, 19, 19, 0.837) ;
    font-weight: bold;
}

.button-delete{
    padding: 4px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: rgba(139, 0, 0, 0.711);
    color: white;
    cursor: pointer;
}
.button-delete:hover{
    opacity: 85%;
}